html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $main-font-family;
  color: getColor('mainText');
  background-color: getColor('mainBgr');
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}
