.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: getColor('footerBgr');

  @media screen and (max-width: $pre_desktop) {
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    &__container {
      display: flex;
      align-items: baseline;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    color: getColor('secondaryBrand');

    @include font(700, 14px, 1.14, 0.03em);

    text-transform: uppercase;
  }
}
