.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: getColor('footerBgr');

  @media screen and (max-width: $pre_desktop) {
    text-align: center;
  }

  &__container {
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: baseline;
    }
  }

  &__meta {
    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }

    @media screen and (max-width: $pre_desktop) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: $desktop) {
      margin-right: auto;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    color: getColor('secondaryBrand');

    @include font(14px, 700, 1.14, 0.03em);

    text-transform: uppercase;
  }
}
