.hero {
  padding-top: 110px;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  background-color: getColor('footerBgr');
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/herobg-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/herobg-mobile-2x.jpg');
  }

  @media screen and (min-width: $mobile) {
    padding-top: 118px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 768px;
    height: 400px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/herobg-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/herobg-tablet-2x.jpg');
    }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    max-width: 1600px;
    height: 600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/herobg-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/herobg-desktop-2x.jpg');
    }
  }

  &__title {
    margin: 0 auto 30px auto;

    @include font(18px, 700, 1.5, 0.04em);

    text-align: center;
    text-transform: uppercase;
    color: getColor('secondaryBrand');

    @media screen and (min-width: $mobile) {
      @include font(26px, 900, 1.62, 0.06em);
    }

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
