.footer__soc-list {
  @media screen and (max-width: $pre_tablet) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $tablet) and (max-width: $pre_desktop) {
    display: inline-block;
    vertical-align: top;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}

.footer__soc-list-link {
  color: getColor('secondaryBrand');
  background-color: getColor('footerSocialsBgr');
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: getColor('brand');
  }
}
