.footer__address-meta {
  margin-bottom: 60px;
  @include font(400, 14px, 1.72, 0.03em);
}

.footer__address {
  margin-bottom: 8px;
  font-style: normal;
  color: getColor('secondaryBrand');

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor('brand');
    cursor: pointer;
  }
}

.footer__contact-list {
  @include list;
}

.footer__contact-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__contact-link {
  @include link;
  color: getColor('footerContacts');

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor('brand');
    cursor: pointer;
  }
}
