.logo {
  @include link;
  display: block;

  font-family: $secondary-font-family;
  @include font(700, 24px, 1.16, 0.03em);
  color: getColor('logoText');

  @media screen and (min-width: $desktop) {
    @include font(700, 26px, 1.19, 0.03em);
  }

  &__accent {
    color: getColor('brand');
  }

  &--footer {
    margin-bottom: 20px;

    &__text {
      color: getColor('secondaryBrand');
    }
  }
}
