.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  @include font(28px, 700, 1.17, 0.03em);
  text-align: center;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    @include font(36px, 700, 1.17, 0.03em);
  }
}
