.footer__address-meta {
  margin-top: 60px;
  margin-right: 70px;
  text-align: center;
}

.footer__address {
  margin-top: 20px;
  color: getColor('secondaryBrand');

  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.72;
  // letter-spacing: 0.03em;
  @include font(400, 14px, 1.72, 0.03em);
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor('brand');
    cursor: pointer;
  }
}

.footer__contact-list {
  @extend %list;
}

.footer__contact-item {
  margin-top: 9px;
}

.footer__contact-link {
  @extend %link;
  color: getColor('footerContacts');

  // font-weight: 400;
  // font-size: 14px;
  // line-height: 1.72;
  // letter-spacing: 0.03em;
  @include font(400, 14px, 1.72, 0.03em);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor('brand');
    cursor: pointer;
  }
}
