.team {
  background-color: getColor('secondaryBgr');

  &__list {
    @extend %list;
    // display: flex;
    // flex-wrap: wrap;
    @include flexWrap();
  }

  &__item {
    width: 270px;
    background-color: getColor('mainBgr');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__notify {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 10px;

    // font-weight: 500;
    // font-size: 16px;
    // line-height: 1.19;
    // letter-spacing: 0.03em;
    @include font(500, 16px, 1.19, 0.03em);

    text-align: center;
  }

  &__position {
    margin-top: 0;
    margin-bottom: 16px;

    color: getColor('secondaryText');

    // font-weight: 400;
    // font-size: 16px;
    // line-height: 1.19;
    // letter-spacing: 0.03em;
    @include font(400, 16px, 1.19, 0.03em);

    text-align: center;
  }
}
